* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.wrapper {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding-top: 20px;
    padding-bottom: 25px;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.header__input {
    background: #ECECEC;
    border-radius: 5px;
    width: 368px;
    height: 40px;
    border: transparent;
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #989898;
    transition: all .2s linear;
}

.header__input:focus {
    box-shadow:inset 0 0 2px 2px #888;
}

.header__search {
    position: relative;
    left: 33px;
    top: 4px;
}

input {
    outline: none;
}

.header__phone {
    display: flex;
}

.header__icon {
    padding-right: 18px;
}

.header__namber p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 5px;
}

.header__menu {
    background: #27589C;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.header__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: all .2s linear;
    margin-right: 42px;
}

.header__item span {
    background: #EF8711;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    transition: all .2s linear;
    padding-right: 12px;
    padding-left: 12px;
}

.header__item span:hover {
    background: #cc730e;
}

.header__item:active {
    color: #EF8711;
}

.header__item:last-child {
    margin-right: 0;
}

.header__item:hover {
    color: #EF8711;
}

.header__item:active {
    color: #EF8711;
}

.montage {
    padding-top: 67px;
    padding-bottom: 45px;
}

.montage__title h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #1A3B69;
    margin-bottom: 20px;
}

.montage__subtitle p {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: #1A3B69;
    margin-bottom: 10px;
}

.montage__suptitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1A3B69;
    margin-bottom: 15px;
}

.montage__style__type li {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1A3B69;
    margin-bottom: 10px;
}

.advantages {
    padding-top: 35px;
    padding-bottom: 55px;
    background: rgba(221, 236, 255, 0.7);
}

.advantages__row {
    display: flex;
}

.advantages__title h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #1A3B69;
    text-align: center;
    margin-bottom: 20px;
}

.advantages__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1A3B69;
    padding-bottom: 30px;
    width: 1119px;
}

.advantages__row {
    align-items: center;
    padding-bottom: 30px;
}

.advantages__icon {
    margin-right: 20px;
}

.advantages__text p {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: #1A3B69;
}

.projects {
    padding-top: 45px;
    padding-bottom: 44px;
}

.projects__title h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #1A3B69;
    padding-bottom: 28px;
}

.projects__row {
    display: flex;
    align-items: center;
    padding-bottom: 23px;
}

.projects__icon {
    padding-right: 21px;
}

.projects__text p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1A3B69;
    width: 1055px;
}

.connection {
    padding-top: 10px;
    padding-bottom: 15px;
}

.connection__row {
    display: flex;
    justify-content: space-between;
}

.connection__left {
    border: 1px solid #5F7FAC;
    border-radius: 10px;
    width: 570px;
    height: 403px;
    padding: 63px 0;
    text-align: center;
}

.connection__subtitle p {
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    color: #1A3B69;
    padding-bottom: 32px;
}

.connection__flex {
    display: flex;
    align-items: center;
    padding-left: 75px;
}

.connection__text p {
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    color: #1A3B69;
    padding-bottom: 21px;
}

.connection__icon {
    padding-right: 12px;
}

.connection__phone a {
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    color: #EF8711;
}

.connection__right {
    width: 570px;
    height: 403px;
    background: #5F7FAC;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 23px;
    text-align: center;
}

.connection__suptitle p {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    color: #FFFFFF;
}

.connection__text__two p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-bottom: 25px;
}

.connection__form input{
    width: 430px;
    height: 50px;
    background: #F5F5F5;
    border-radius: 5px;
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #A5A5A5;
    margin-bottom: 20px;
    padding-left: 15px;
    transition: all .2s linear;
}

.connection__form input:focus {
    box-shadow: 0 0 5px 5px #27589C;
}

.connection__text input {
    width: 430px;
    height: 50px;
    background: #F5F5F5;
    border-radius: 5px;
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #A5A5A5;
    margin-bottom: 20px;
    padding-left: 15px;
    transition: all .2s linear;
}

.connection__text input:focus {
    box-shadow: 0 0 5px 5px #27589C;
}

.connection__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #27589C;
    border-radius: 5px;
    padding: 15px 70px;
    cursor: pointer;
    border: none;
    transition: all .2s linear;
}

.connection__btn:hover {
    background: #1b447e;
}

.brands {
    padding-top: 25px;
    padding-bottom: 102px;
}

.brands__title h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #1A3B69;
    padding-bottom: 55px;
}

.brands__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    padding-top: 30px;
    padding-bottom: 33px;
    background: #27589C;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
}

.footer__text p {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: all .2s linear;
}

.footer ul li a:hover {
    opacity: 0.7;
}

.footer__subtitle p {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer__developer p {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #EAEAEA;
}